.mainDiv {
    background: #546e7a;
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

.centerDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.portfolioCenterDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 17%;
}


.skillCenterDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 12%;
}


.aboutDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutTag {
    width: 40%;
    text-align: center;
}

.material-icons{
    cursor: pointer;
    color: #fff;
}

.listOfProjects {
    width: 57%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.singleProject{
    width: 380px;
    height: 240px;
}

.projectContainer {
    width: 380px;
    height: 240px;
    margin-bottom: 45px;
    box-shadow: 2px 4px 8px 4px #29434e;
    position: relative;
    background: #000;

}

.projectContainer:hover .singleProject {
    opacity: 0.2;
    transition: 0.3s;
}

.projectContainer:hover .overlay {
    display: flex;
    opacity: 1;
    transition: 0.3s;

}

.overlay {
    position: absolute;
    display: none;
    top: 25%;
    left: 10%;
    width: 80%;
    justify-content: space-around;
    align-content: center;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
}

.languageList {
    /* padding: 8px;
    border-radius: 4px;
    border: none;
    background: #29434e; */
    color: #fff;
    font-size: 24px;
    margin-bottom: 5px;
}


.hoverBtn {
    text-decoration: none;
    color: #fff;
    padding: 8px;
    background: #dd2c00;
    cursor: pointer;
    border-radius: 4px;
}

.hoverBtn:hover {
    background: #a3000081;
}

.hoverBtnDiv {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.languageIcon {
    font-size: 7em;
    padding: 35px; 
}

.listOfSkills {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contactIcons {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
}

.contactIcons1 {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #fff;

}

.contactIcons:hover, .contactIcons1:hover {
    box-shadow: 2px 4px 8px 4px #132025;

}

.listOfContactIcons {
    display: flex;
    justify-content: space-evenly;
}


.bottomSection {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #29434e;
    padding-bottom: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.emailId {
    
    padding: 8px;
    background: #dd2c009f;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px 0;
}

.emailId a{
    text-decoration: none;
    color: #fff;

}
.emailId:hover {
    background: #a3000034;

}

.test {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.title{
    font-size: 4em;
}