html, body {
    background: #3aafa9;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.topNav {
    width: 95%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainDiv {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

.centerDiv {
    margin-top: 10%;
}

.portfolioCenterDiv {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.skillCenterDiv {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}


.aboutDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutDiv h2{
    color: #17252a;

}

.aboutTag {
    width: 40%;
    text-align: center;
    color: #17252a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
}

.material-icons{
    cursor: pointer;
    color: #fff;
}

.portfolioNav {
    width: 95%;
    margin: 0;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.portfolioNav .portfolioTitle{
    margin: 0 auto;
    color: #17252a;
}

.skillsNav {
    width: 95%;
    margin: 0;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skillsNav .skillsTitle {
    margin: 0 auto 0 47%;
    color: #17252a;

}

.listOfProjects {
    margin: 50px 0px;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.singleProject{
    width: 380px;
    height: 240px;
}

.projectDiv {
    margin-bottom: 45px;
}

.projectContainer {
    width: 380px;
    height: 240px;
    position: relative;
    background: #17252a;
}

.projectContainer:hover .singleProject {
    opacity: 0.2;
    transition: 0.3s;
}

.projectContainer:hover .overlay {
    display: flex;
    opacity: 1;
    transition: 0.3s;

}

.overlay {
    position: absolute;
    display: none;
    top: 25%;
    left: 10%;
    width: 80%;
    justify-content: space-around;
    align-content: center;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
}

.languageList {
    color: #fff;
    font-size: 24px;
    padding: 0px 10px;
}

.listOfLanguages {
    background: #17252a;
    width: 380px;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px;
}

.githubLink {
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
    padding: 6px 12px;
    margin: 0px 10px;
}

.githubLink:hover {
    background: #69a4bb;

}

a {
    text-decoration: none;
}
.hoverBtnDiv {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    color: #fff;
    font-size: 2em;
}

.languageIcon {
    font-size: 7em;
    padding: 35px; 
    color: #fff;
}

.iconDes {
    margin: auto;
    font-size: 25px;
    text-align: center;
}

.languageIcon:hover .iconDes {
    color: #3c4a50;
}


.listOfSkills {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contactIcons svg{
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    border-radius: 50%;
}

.contactIcons svg path {
    fill: #17252a !important;
}

.contactIcons:hover > svg path{
    fill: #fff !important;
}

.contactDiv {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav {
    text-decoration: none;
    color: #17252a;
    font-size: 20px;
    text-transform: uppercase;
}

.nav:after {
    display: block;
    content: '';
    border-bottom: 2px solid #17252a;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.nav:hover:after {
    transform: scaleX(1);
}

.logo{
    font-size: 5em;
    border: 1px solid #17252a;
    border-radius: 50%;
    background: #17252a;
    font-weight: 400;
    overflow: hidden;
    font-style: italic;
}


/*--tablets--*/
@media only screen and (max-width: 800px) {
    .aboutTag {
        width: 60%;
    }
    .languageIcon {
        font-size: 5em;
        padding: 25px; 
    }
    .listOfSkills {
        width: 80%;
    }
}

/*--mobiles--*/
@media only screen and (max-width: 500px){
    .aboutTag {
        width: 80%;
    }
    .languageIcon {
        font-size: 4.5em;
        padding: 12px; 
    }
    .listOfSkills {
        width: 90%;
    }
    .portfolioNav .portfolioTitle{
        margin: 0 25% 0 auto;
    }
    .skillsNav .skillsTitle {
        margin: 0 auto 0 41%;
    }

    .contactDiv {
        width: 60%;
    }
    .projectContainer {
        width: 340px;
        height: 220px;
    }
    .singleProject{
        width: 340px;
        height: 220px;
    }
    .listOfLanguages{
        width: 340px;
    }

    .iconDes{
        font-size: 16px;
    }
}
